<br>
<h1 ng-if="list.hasItems()">
  Found {{list.pluralize(list.items.length, "item")}}
</h1>
<div class="col-xs-12" ng-repeat="item in list.items">
  <div class="col-xs-2"><strong>{{item.name}}</strong></div>
  <div class="col-xs-1">{{item.short_name}}</div>
  <div class="col-xs-7">{{item.description}}</div>
  <div class="col-xs-2"><button class="btn btn-default" ng-click="list.onRemove({index: $index});"><span class="glyphicon glyphicon-remove"></span>Don't want this one!</button></div>
</div>
<br>
<h1 class="text-center" ng-if="list.isEmpty()">
  Nothing found
</h1>
